.sidenav-container {
    width: 230px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: white;

    .img{
      width: 100%;
      height: 100px;
      background-image: url('../../../assets/img/sumelzuca-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 1rem;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        padding: 5px;
        text-align: left;
  
        a, .dropdown-btn {
          color: black;
          text-decoration: none;
          display: block;
          padding: 0.5rem;
          border: none;
          background: none;

          width: 100%;
          text-align: left;
          font-size: 1rem;
          cursor: pointer;
          outline: none;
          display: flex;
          align-items: center;

        }

        a, .dropdown-btn {
          font-size: 1.1rem;
          font-weight: 550;
        }
      }
    }

    .dropdown {
      display: flex;
      align-items: center;
    }

    mat-icon{
      margin-right: 0.5rem;
    }
  }
  
  .dropdown-menu {
    display: none;
    padding-left: 0.5rem;
  
    li a {
      font-size: 14px;
    }
  }
  
  .show {
    display: block;
  }