<section class="edit-container">
    <section class="form-card">

      <h1>Editar proveedor</h1>
      <p>Actualiza la información de este proveedor.</p>
      <form class="form-container" (ngSubmit)="onInsert()"  [formGroup]="articuloForm" method="post">
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Proveedor</mat-label>
                    <mat-select  [(value)]="opcionSeleccionada" (selectionChange)="getDropdown()" formControlName = "idproveedores">
                      <mat-option *ngFor="let nombre of nombres"  [value]="nombre">
                        {{nombre}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>    

                  <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombreproveedores" matInput placeholder="Ingrese nombre">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input formControlName="telefonoproveedores" matInput placeholder="Ingrese teléfono">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="direccionproveedores" matInput placeholder="Ingrese dirección">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="correoproveedores" matInput placeholder="Ingrese email">
                  </mat-form-field>
                  
                  <button mat-raised-button type="submit">Editar proveedor</button>
                </div>
      </form>
    </section>
                