<section class="edit-container">
    <section class="form-card">

      <h1>Editar proveedor</h1>
      <p>Actualiza la información de este proveedor.</p>
      <form class="form-container" (ngSubmit)="onInsert()"  [formGroup]="articuloForm" method="post">
            <mat-form-field appearance="outline">
                <mat-label>Proveedor</mat-label>
                <input type="text"
                       placeholder="Proveedor"
                       aria-label="text"
                       matInput
                       [formControl]="proveedor"
                       [matAutocomplete]="auto">

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                  <mat-option *ngFor="let option of filteredOptions | async; let i = index" [value]="option" [id]="'option-' + i">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> 

                  <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input formControlName="nombreproveedores" matInput placeholder="Ingrese nombre">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>RIF / NIT</mat-label>
                    <input readonly formControlName="rifproveedores" matInput placeholder="Ingrese identificación">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input formControlName="telefonoproveedores" matInput placeholder="Ingrese teléfono">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input formControlName="direccionproveedores" matInput placeholder="Ingrese dirección">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="correoproveedores" matInput placeholder="Ingrese email">
                  </mat-form-field>
                  
                  <button mat-raised-button type="submit">Editar proveedor</button>
      </form>
    </section>
                