<section class="password-container">

    <div class="image"></div>

    <section class="form-card">
        <h1>Recuperar Contraseña</h1>
        <p>Ingresa tu codigo de verificacion</p>

          <div>
            <form class="form-container" (ngSubmit)="prueba()" [formGroup]="recoveryForm" action="">
              <mat-form-field appearance="outline">
                
                <mat-label>Codigo</mat-label>
                <input formControlName="correo" matInput placeholder="Ingrese codigo">
              </mat-form-field>
              <button mat-raised-button type="submit">Confirmar</button>
            </form>
            </div>
    </section>

</section>