<h2 mat-dialog-title>Generar Reporte</h2>
<mat-dialog-content class="mat-typography">
    <h3>Seleccionar {{label}}</h3>
    <mat-form-field appearance="outline">
        <!-- seccion de seleccion principal -->
        <mat-label>{{label}}</mat-label>
        <input type="text"
               placeholder= {{label}}
               aria-label="text"
               matInput
               [formControl]="opcion1"
               [matAutocomplete]="auto">

        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected()">
          <mat-option *ngFor="let option of filteredOptions | async; let i = index" [value]="option" [id]="'option-' + i">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field> 
        <!-- seccion de filtrado/tipo de reporte -->
         <h3>Seleccionar tipo de reporte</h3>
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
            <mat-select>
                <mat-option>
                    Enciclopedia
                </mat-option>
                <mat-option>
                    ASDASDMJI
                </mat-option>
            </mat-select>
    </mat-form-field>
        <!-- seccion de opciones -->

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="Print()" >Generar</button>
</mat-dialog-actions>