<section class="agg-container">
    <section class="form-card">
        <h1>Agregar usuario</h1>
        <p>En esta sección podrás agregar nuevos usuarios al sistema</p>
    
        <div class="form-container"> 
                  <mat-form-field appearance="outline">
                    <mat-label>Nombre Completo</mat-label>
                    <input matInput placeholder="Ingrese nombre">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Cédula de Identidad</mat-label>
                    <input matInput placeholder="Ingrese cédula">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Cargo</mat-label>
                        <mat-select>
                            <mat-option value="1">Option 1</mat-option>
                            <mat-option value="2">Option 2</mat-option>
                            <mat-option value="3">Option 3</mat-option>
                        </mat-select>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Ingrese contraseña">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput placeholder="Ingrese correo">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ingrese teléfono">
                  </mat-form-field>
        </div>
        <button mat-raised-button type="submit">Agregar usuario</button>
    </section>
</section>

