<section class="client-container">
    <section class="form-card">
        <h1>Registrar nuevos cliente</h1>
        <p>Agrega nuevos clientes al sistema</p>
        <form class="form-container" (ngSubmit)="onInsert()"  [formGroup]="articuloForm" method="post">

          <div class="form-container">
            <mat-form-field appearance="outline">
              <mat-label>Nombre cliente</mat-label>
              <input formControlName="nombreclientes" matInput placeholder="Ingrese nombre">
            </mat-form-field>            

            <mat-form-field appearance="outline">
              <mat-label>RIF / NIT</mat-label>
              <input formControlName="rifclientes" matInput placeholder="Ingrese identificación">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input formControlName = "telefonoclientes" matInput placeholder="Ingrese teléfono">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Dirección</mat-label>
              <input formControlName="direccionclientes" matInput placeholder="Ingrese dirección">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input formControlName="correoclientes" matInput placeholder="Ingrese correo">
            </mat-form-field>
          </div>
          <button mat-raised-button type="submit">Guardar cambios</button>
        </form>
        </section>
</section>
