<section class="editar-container">
    <section class="form-card">
        <h1>Editar datos fiscales</h1>
        <p>En esta sección podrá editar los datos de la empresa</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Tasa de cammbio</mat-label>
                    <input matInput placeholder="Ingrese tasa">
                  </mat-form-field>            
    
                  <mat-form-field appearance="outline">
                    <mat-label>Nombre de la empresa</mat-label>
                    <input matInput placeholder="Ingrese nuevo nombre">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Correo eléctrónico</mat-label>
                    <input matInput placeholder="Ingrese correo">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ingrese teléfono">
                  </mat-form-field> 

                  <mat-form-field appearance="outline">
                    <mat-label>IVA</mat-label>
                    <input matInput placeholder="Ingrese IVA">
                  </mat-form-field>
        </div>
        <button mat-raised-button type="submit">Editar datos</button>
    </section>
</section>
