<section class="entrada-container">
    <section class="form-card">
        <h1>Registrar entrada</h1>
        <p>Completa los datos para agregar stock.</p>

        <div class="form-container">
          <form class="form-container" [formGroup]="articuloForm" method="post">

            <mat-form-field appearance="outline">
              <mat-label>Producto</mat-label>
              <mat-select  [(value)]="opcionSeleccionada2" (selectionChange)="getDropdown2()" formControlName = "idarticulo">
                <mat-option *ngFor="let producto of productos"  [value]="producto">
                  {{producto}}
                </mat-option>
              </mat-select>
            </mat-form-field>            
            
            <mat-form-field appearance="outline">
              <mat-label>Cantidad a ingresar</mat-label>
              <input matInput formControlName="cantidadrecibo" placeholder="Ingrese número">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Factura</mat-label>
              <mat-select  [(value)]="opcionSeleccionada" (selectionChange)="getDropdown()" formControlName = "idfactura">
                <mat-option *ngFor="let factura of facturas"  [value]="factura">
                  {{factura}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Fecha de entrada</mat-label>
              <input matInput [matDatepicker]="datepicker" />
              <mat-hint>DD/MM/AA</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
              <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel>Cancel</button>
                  <button mat-raised-button matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
              </mat-datepicker>
            </mat-form-field>
            <button mat-raised-button type="submit">Registrar entrada</button>
          </form>
            
          </div>
          <div class="table-container">
            <mat-table [dataSource]="dataSource">
              <!-- Columna Descripción -->
              <ng-container matColumnDef="descripcionarticulo">
                <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.descripcionarticulo }} </mat-cell>
              </ng-container>
            
              <!-- Columna Tipo -->
              <ng-container matColumnDef="tipoarticulo">
                <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.tipoarticulo }} </mat-cell>
              </ng-container>
            
              <!-- Columna Costo -->
              <ng-container matColumnDef="costoarticulo">
                <mat-header-cell *matHeaderCellDef> Precio Unit. </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.costoarticulo }} </mat-cell>
              </ng-container>
            
              <!-- Columna Existencia -->
              <ng-container matColumnDef="existenciaarticulo">
                <mat-header-cell *matHeaderCellDef> Existencia </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.existenciaarticulo }} </mat-cell>
              </ng-container>
            
              <!-- Filas -->
              <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
              <mat-row *matRowDef="let row; columns: columnas;"></mat-row>
            </mat-table>
            <button mat-raised-button (click)="agregarDato()"  type="submit">Añadir producto</button>
					</div>
    </section>
</section>