<section class="salida-container">
    <section class="form-card">
        <h1>Registrar salida</h1>
        <p>Completa los datos para registrar una venta, ajuste o baja de producto.</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Producto</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                  </mat-form-field>            
    
                  <mat-form-field appearance="outline">
                    <mat-label>Cantidad a ingresar</mat-label>
                    <input matInput placeholder="Ingrese número">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Motivo de salida</mat-label>
                    <input matInput placeholder="Ingrese motivo">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de entrada</mat-label>
                    <input matInput [matDatepicker]="datepicker" />
                    <mat-hint>DD/MM/AA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field> 
        </div>
        <button mat-raised-button type="submit">Registrar salida</button>
    </section>
</section>
