.user-info{
    background-color: white;
    border-radius: 15px;
    padding: 0.9rem;
    margin: 1rem;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h1{
        font-size: 1.1rem;
        margin: 0;
    }

    p{
        font-size: 0.9rem;
        color: rgb(141, 141, 141);
        margin: 0;
    }
}