<section class="password-container">
    <section class="form-card">
        <h1>Recuperar Contraseña</h1>
        <p>¿Has olvidado tu contraseña? Ingresa los siguientes datos para recuperar tu contraseña</p>

          <div class="form-container">
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input matInput placeholder="Ingrese correo">
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input  matInput placeholder="Ingrese contraseña">
              </mat-form-field>
            <button mat-raised-button type="submit">Enviar confirmación</button>
          </div>
    </section>
</section>