<section class="config-container">
    <section class="form-card">
        <h1>Tasa de cambio</h1>
        <hr>
        <div class="info-container">
            <p><b>Tasa de Cambio: </b>{{tasa}}</p>
        </div>

        <h1>Información fiscal</h1>
        <p>En esta sección podrá ver los datos de información de la empresa</p>
        <hr>

        <div class="info-container">
            <p><b>Nombre de la empresa: </b>{{nombre}}</p>
            <p><b>Logotipo: </b></p>
                <div class="image"><img [src]="logoSrc" loading="lazy" alt="Logo"></div>
            <p><b>Correo electrónico: </b>{{correo}}</p>
            <p><b>RIF: </b>{{rif}}</p>
            <p><b>Correlativo de factura: </b>{{crltvfactura}}</p>
            <p><b>Correlativo de presupuesto: </b>{{crltvpresupuesto}}</p>

            <!-- <h2>Redes sociales</h2>
            <p><b>Instagram: </b> &#64;sumelzuca.ve </p> -->
        </div>
       
    </section>
</section>
