<section class="config-container">
    <section class="form-card">
        <h1>Configuración</h1>
        <p>En esta sección podrá elegir la tasa de cambio o moneda para generar sus precios</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Tasa de cambio BCV/USD</mat-label>
                    <input matInput placeholder="Ingrese tasa">
                  </mat-form-field> 
        </div>
        <button mat-raised-button type="submit">Guardar cambios</button>        
    </section>
</section>
