<section class="config-container">
    <section class="form-card">
        <h1>Información fiscal</h1>
        <p>En esta sección podrá ver los datos de información de la empresa</p>
        <hr>

        <div class="info-container">
            <p><b>Nombre de la empresa: </b> Suministros eléctricos del Zulia, C.A (Sumelzuca)</p>
            <p><b>Logotipo: </b></p>
                <figure class="image"></figure>
            <p><b>Correo electrónico: </b> sumelzuca&#64;gmail.com</p>
            <p><b>RIF: </b> J-50206515-6</p>
            <p><b>Correlativo de factura: </b> FAC-20250041</p>
            <p><b>Correlativo de presupuesto: </b> PRE-202500098</p>

            <hr>

            <h2>Tasa de cambio</h2>
            <p><b>1 USD = 64,87 Bs</b></p>

            <!-- <h2>Redes sociales</h2>
            <p><b>Instagram: </b> &#64;sumelzuca.ve </p> -->
        </div>
    </section>
    <div class="button-container">
        <button mat-raised-button><a routerLink="/editar-config">Editar configuración</a></button>
    </div>
</section>
