.client-container {
    display: flex;
    place-content: center;
    height: 90vh;
    margin-left: 3.5rem;
    margin-top: 4rem;

    .form-card {
        background-color: white;
        margin-top: 2rem;
        padding: 2rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        max-width: 800px;       // Limita el ancho máximo
        width: 100%;            // Ocupa el 100% del contenedor hasta el máximo
        box-sizing: border-box; // Evita overflow por padding
        max-height: 500px;


        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;  // Centrado horizontal
        }

        button[mat-raised-button] {
            grid-column: span 2; // Ocupa 2 columnas
            width: 50%;          // Control del ancho
            justify-self: center;
        }


        h1 {
            font-size: 1.5rem;
            color: #333;
            margin-bottom: 0;
        }

        p {
            font-size: 1rem;
            color: #666;
            margin-bottom: 1rem;
        }

        .form-container {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 1rem;


            .email-field {
                grid-column: span 2; // Ocupa 2 columnas
                
                mat-form-field {
                    width: 100%;
                }
            }


        }
    }
}