<section class="client-container">
    <section class="form-card">
        <h1>Editar cliente</h1>
        <p>Edita los datos de un cliente.</p>
    
        <form class="form-container" (ngSubmit)="onInsert()"  [formGroup]="articuloForm" method="post">

            
            <mat-form-field appearance="outline">
                <mat-label>Cliente</mat-label>
                <input type="text"
                       placeholder="Cliente"
                       aria-label="text"
                       matInput
                       [formControl]="cliente"
                       [matAutocomplete]="auto">

                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                  <mat-option *ngFor="let option of filteredOptions | async; let i = index" [value]="option" [id]="'option-' + i">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> 

            <mat-form-field appearance="outline">
              <mat-label>Nombre cliente</mat-label>
              <input formControlName="nombreclientes" matInput placeholder="Ingrese nombre">
            </mat-form-field>            

            <mat-form-field appearance="outline">
              <mat-label>RIF / NIT</mat-label>
              <input readonly formControlName="rifclientes" matInput placeholder="Ingrese identificación">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input formControlName = "telefonoclientes" matInput placeholder="Ingrese teléfono">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Dirección</mat-label>
              <input formControlName="direccionclientes" matInput placeholder="Ingrese dirección">
            </mat-form-field>
            
            <mat-form-field appearance="outline">
              <mat-label>Correo</mat-label>
              <input formControlName="correoclientes" matInput placeholder="Ingrese correo">
            </mat-form-field>
            <button mat-raised-button type="submit">Guardar cambios</button>
        </form>
    </section>
</section>
