<section class="clients-container">
    <h1>Clientes</h1>
    <hr>

    <div class="table-container">
      <table mat-table [dataSource]="dataSource">
                  
        <ng-container matColumnDef="nombreclientes">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreclientes}} </td>
        </ng-container>
    
        <ng-container matColumnDef="rifclientes">
          <th mat-header-cell *matHeaderCellDef> RIF </th>
          <td mat-cell *matCellDef="let element"> {{element.rifclientes}} </td>
        </ng-container>
    
        <ng-container matColumnDef="direccionclientes">
          <th mat-header-cell *matHeaderCellDef> Dirección </th>
          <td mat-cell *matCellDef="let element"> {{element.direccionclientes}} </td>
        </ng-container>
    
        <ng-container matColumnDef="telefonoclientes">
          <th mat-header-cell *matHeaderCellDef> Teléfono </th>
          <td mat-cell *matCellDef="let element"> {{element.telefonoclientes}} </td>
        </ng-container>

        <ng-container matColumnDef="correoclientes">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.correoclientes}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[5]"
                     showFirstLastButtons
                     aria-label="Select page of clientes">
      </mat-paginator>
    </div>

      <div class="add-product">
        <button  mat-raised-button><a href="/clientes/registrar-cliente">Registrar nuevo cliente</a></button>
        <button  mat-raised-button><a href="/clientes/editar-cliente">Editar cliente</a></button>
      </div>
</section>
