<section class="bill-container">
    <section class="form-card">
        <h1>Generar factura</h1>
        <p>Completa los datos del nuevo producto eléctrico para registrarlo en el catálogo.</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre Cliente</mat-label>
                    <input matInput placeholder="Ingrese nombre">
                  </mat-form-field>            
    
                  <mat-form-field appearance="outline">
                    <mat-label>RIF / Cédula</mat-label>
                    <input matInput placeholder="Ingrese identificación">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ingrese teléfono">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Ingrese dirección">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Proforma</mat-label>
                    <input matInput placeholder="Ingrese todos los productos">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de entrada</mat-label>
                    <input matInput [matDatepicker]="datepicker" />
                    <mat-hint>DD/MM/AA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                    <mat-datepicker #datepicker>
                      <mat-datepicker-actions>
                        <button mat-button matDatepickerCancel>Cancel</button>
                        <button mat-raised-button matDatepickerApply>Apply</button>
                      </mat-datepicker-actions>
                    </mat-datepicker>
                  </mat-form-field>
        </div>
        <button mat-raised-button type="submit">Generar factura</button>
    </section>
</section>