<section class="bill-container">
    <section class="form-card">
        <h1>Registrar Factura</h1>
        <p>Completa los datos de la factura para registrarla en el sistema.</p>
        <div>
            <div [formGroup]="articuloForm" style="padding-bottom: 20px;">  
              <mat-radio-group formControlName="selectedType" (change)="enviaMensaje()" aria-label="Select an option">
                <mat-radio-button value="1">Cliente</mat-radio-button>
                <mat-radio-button value="2">Proveedor</mat-radio-button>
              </mat-radio-group>
            </div>
            
          <form class="form-container" [formGroup]="articuloForm" method="post">

            <mat-form-field style="margin-right: 10px;" appearance="outline">
              <mat-label>{{ articuloForm.value.selectedType === '1' ? 'Cliente' : 'Proveedor' }}</mat-label>
              <mat-select [(value)]="opcionSeleccionada" 
              (selectionChange)="getDropdown()" 
              formControlName="idproveedorfactura">
              <mat-option *ngFor="let item of currentOptions" [value]="item">
                {{ item }}
              </mat-option>
            </mat-select>
            </mat-form-field>
                    
                    <mat-form-field appearance="outline">
                      <mat-label>Tipo</mat-label>
                      <mat-select  [(value)]="opcionSeleccionada2" (selectionChange)="getDropdown2()" formControlName = "tipofactura">
                        <mat-option *ngFor="let tipo of tipos"  [value]="tipo">
                          {{tipo}}
                        </mat-option>
                    </mat-select>                 
                </mat-form-field>  
                    

                    <mat-form-field *ngIf="articuloForm.value.selectedType !== '1'" appearance="outline">
                        <mat-label>Numero</mat-label>
                        <input formControlName="numerofactura" matInput placeholder="Ingrese Numero">
                      </mat-form-field>

                        <mat-form-field *ngIf="articuloForm.value.selectedType !== '1'" appearance="outline">
                            <mat-label>Fecha de emision</mat-label>
                            <input style="width: 180%;" matInput formControlName="fechaemision" [matDatepicker]="datepicker" />
                            <mat-hint>DD/MM/AA</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                            <mat-datepicker #datepicker>
                                <mat-datepicker-actions>
                                    <button mat-button matDatepickerCancel>Cancel</button>
                                    <button mat-raised-button matDatepickerApply>Apply</button>
                                </mat-datepicker-actions>
                            </mat-datepicker>
                        </mat-form-field>
                    
                        
                    </form>
                    <button style="margin-left: 65%; margin-top: 20px;" mat-raised-button (click)="avanzar()" >Siguente <mat-icon style="order: 2; margin-left: 10px;">arrow_forward</mat-icon> </button>
          </div>
    </section>
</section>