.entrada-container {
    width: 80%;
    height: 80vh;
    margin-left: 3.5rem;
    display: flex;
    
    .form-card {
      background-color: white;
      padding: 1rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      gap: 2rem;
      flex: 1;
      min-height: 150vh;


      // Header
      .header{
        display: flex;
      }

  
      // Sección Formulario
      .form-section {
        display: flex;
        flex-direction: column;
        min-width: 250px;


  
        .form-container {
          flex: 1;
          display: grid;
          grid-template-columns: 1fr;
          gap: 1.2rem;
          align-content: start;
  
          mat-form-field {
            width: 100%;
            
            .mat-mdc-form-field-infix {
              min-height: 56px;
            }
          }
        }

      }
  
      // Sección Tabla
      .table-section {
        flex: 1;
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        min-width: 500px;
  

        h1 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            width: fit-content; // Ajusta al ancho del texto
            margin: 0 auto; // Centrado adicional
          }

        .table-wrapper {
          flex: 1;
          max-height: 51vh;
          overflow: auto;
          border: 1px solid #eee;
          border-radius: 4px;
          
          .mat-table {
            margin: 0 auto; // Centra la tabla si no ocupa todo el ancho
            width: calc(100% - 32px); // Compensa el padding
          }
            
            .mat-mdc-header-row {
              background: #f8f9fa;
            }
          }
        }
  
        .button-container {
          margin-top: 1rem;
          text-align: right;
        }
      }
    }


