<section class="entrada-container">
    <section class="form-card">
      <!-- FORMULARIO (Izquierda) -->
      <div class="form-section">
        <div style="display: flex; gap:2rem; margin-bottom: 1rem;">
            <div style="flex: 0 0 435px; padding-left: 16px;">
                <h1>Registrar entrada</h1>
            </div>
            <div style="flex: 1; padding-right: 16px; align-items: center;justify-content: center;">    
                <h1>Factura</h1>
            </div>
        </div>

        <form class="form-container" (ngSubmit)="onInsert()" [formGroup]="articuloForm" method="post">
          <mat-form-field appearance="outline">
            <mat-label>Producto</mat-label>
            <mat-select [(value)]="opcionSeleccionada2" (selectionChange)="getDropdown2()" formControlName="idarticulo">
              <mat-option *ngFor="let producto of productos" [value]="producto">
                {{producto}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input type="number" matInput formControlName="cantidadrecibo" placeholder="Ingrese número">
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Factura</mat-label>
            <mat-select [(value)]="opcionSeleccionada" (selectionChange)="getDropdown()" formControlName="idfactura">
              <mat-option *ngFor="let factura of facturas" [value]="factura">
                {{factura}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
          <mat-form-field appearance="outline">
            <mat-label>Fecha de entrada</mat-label>
            <input matInput formControlName="entradaarticulo" [matDatepicker]="datepicker" />
            <mat-hint>DD/MM/AA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </form>
    </div>
    
      <!-- TABLA (Derecha) -->
      <div class="table-section">
        <div class="table-wrapper">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="descripcionarticulo">
              <th mat-header-cell *matHeaderCellDef> Descripción </th>
              <td mat-cell *matCellDef="let element">{{element.descripcionarticulo}}</td>
            </ng-container>
  
            <ng-container matColumnDef="tipoarticulo">
              <th mat-header-cell *matHeaderCellDef> Unidad </th>
              <td mat-cell *matCellDef="let element">{{element.tipoarticulo}}</td>
            </ng-container>
  
            <ng-container matColumnDef="existenciaarticulo">
              <th mat-header-cell *matHeaderCellDef> Existencia </th>
              <td mat-cell *matCellDef="let element">{{element.existenciaarticulo}}</td>
            </ng-container>
  
            <ng-container matColumnDef="costoarticulo">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element">{{element.costoarticulo}}</td>
            </ng-container>
  
            <ng-container matColumnDef="entradaarticulo">
              <th mat-header-cell *matHeaderCellDef> Fecha de entrada </th>
              <td mat-cell *matCellDef="let element">{{element.fechaentrada}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
            <tr mat-row *matRowDef="let row; columns: columnas"></tr>
          </table>
        </div>
  
    </div>
    </section>
  </section>