<section class="auditoria-container">
    <h1>Auditoría</h1>
    <hr>

    <div class="table-container">
        <table mat-table [dataSource]="dataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre Completo </th>
            <td mat-cell *matCellDef="let element">  </td>
          </ng-container>

          <ng-container matColumnDef="cedula">
            <th mat-header-cell *matHeaderCellDef> Cédula </th>
            <td mat-cell *matCellDef="let element"> </td>
          </ng-container>
      
          <ng-container matColumnDef="contraseña">
            <th mat-header-cell *matHeaderCellDef>Contraseña</th>
            <td mat-cell *matCellDef="let element"></td>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> Número de Teléfono </th>
            <td mat-cell *matCellDef="let element"> </td>
          </ng-container>

          <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef> Correo electrónico </th>
            <td mat-cell *matCellDef="let element"> </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]"
                       showFirstLastButtons
                        length="100"
                        pageSize="5"
                       aria-label="Select page of Articles">
        </mat-paginator>
      </div>

      <div class="button-container">
        <button  mat-raised-button><a href="/auditoria/editar-usuario">Editar usuario</a></button>
        <button  mat-raised-button><a href="/auditoria/agg-usuario">Añadir usuario</a></button>
        <button mat-raised-button>Generar reporte</button>
      </div>
</section>

