.login-container{
  width: 70vw;
  display: grid;
  place-content: center;
  height: 90vh;
  margin-left: 3.5rem;
  margin-top: 2rem;

  .login-card{
      background-color: white;
      margin-top: 2rem;
      padding: 2rem;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;

      h1{
          font-size: 1.5rem;
          color: #333;
          margin-bottom: 0;
      }

      p{
          font-size: 1rem;
          color: #666;
          margin-bottom: 1rem;
      }

      mat-form-field{
          width: 100%;
      }
  }

}