.cuentas-container{
    margin-top: 3rem;
    
    h1{
      font-size: 2rem;
      color: #333;
      margin-top: 2.8rem;
      padding: 1rem 0 0;
      margin-bottom: 0;
    }
    
    hr{
      border: 1.5px solid #aa2f2f;
      width: 15%;
      margin-left: 0;
    }
    
    .table-container {
      margin-top: 2rem;
      padding: 1rem;
      min-width: 1020px;
    
      mat-paginator {
        background-color: #f7eaf9;
      }
    
    }
}