<section class="add-container">
    <section class="form-card">
        <h1>Añadir proveedor</h1>
        <p>Ingresa los datos del proveedor que desees agregar al sistema</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Nombre proveedor</mat-label>
                    <input matInput placeholder="Ingrese nombre">
                  </mat-form-field>            
    
                  <mat-form-field appearance="outline">
                    <mat-label>RIF / NIT</mat-label>
                    <input matInput placeholder="Ingrese identificación">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Teléfono</mat-label>
                    <input matInput placeholder="Ingrese teléfono">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Ingrese dirección">
                  </mat-form-field>
        </div>
        <button mat-raised-button type="submit">Añadir proveedor</button>
    </section>
</section>