<section class="editar-container">
    <section class="form-card">
        <h1>Editar producto</h1>
        <p>En esta sección podrá editar los artículos</p>
    
        <div class="form-container">
                <mat-form-field appearance="outline">
                    <mat-label>Producto</mat-label>
                    <mat-select>
                        <mat-option value="option">Option</mat-option>
                      </mat-select>
                  </mat-form-field>            
    
                  <mat-form-field appearance="outline">
                    <mat-label>Unidad</mat-label>
                    <input matInput placeholder="Ingrese número">
                  </mat-form-field>
    
                  <mat-form-field appearance="outline">
                    <mat-label>Cantidad</mat-label>
                    <input matInput placeholder="Ingrese cantidad">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Código</mat-label>
                    <input matInput placeholder="Ingrese codigo">
                  </mat-form-field> 

                  <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput placeholder="Ingrese precio">
                  </mat-form-field>
        </div>
        <button mat-raised-button type="submit">Editar producto</button>
    </section>
</section>
