<section class="factura-container">
    <h1>Facturas</h1>
    <hr>

    <div class="search-container">
        <mat-form-field appearance="outline">
          <mat-label>Buscar artículo</mat-label>
          <input matInput [(ngModel)]="searchTerm" (keyup)="applyFilter()" placeholder="Texto a buscar">
        </mat-form-field>
      </div>

    <div class="table-container">
      <div class="toggle-container">
        <mat-button-toggle-group [(value)]="selectedMode" class="toggle-button" (change)="cambiarModo($event)" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="proveedores">Proveedores</mat-button-toggle>
          <mat-button-toggle value="clientes">Clientes</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      
        <table mat-table [dataSource]="currentDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="codigofactura">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigofactura}} </td>
          </ng-container>

          <ng-container matColumnDef="numerofactura">
            <th mat-header-cell *matHeaderCellDef> Numero </th>
            <td mat-cell *matCellDef="let element"> {{element.numerofactura}} </td>
          </ng-container>
      
          Name Column -->
          <ng-container matColumnDef="nombreproveedores">
            <th mat-header-cell *matHeaderCellDef>Proveedor</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreproveedores}}</td>
          </ng-container>

          <ng-container matColumnDef="nombreclientes">
            <th mat-header-cell *matHeaderCellDef>Clientes</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreclientes}} </td>
          </ng-container>

          <ng-container matColumnDef="tipofactura">
            <th mat-header-cell *matHeaderCellDef>Tipo de factura </th>
            <td mat-cell *matCellDef="let element"> {{element.tipofactura}} </td>
          </ng-container>

          <ng-container matColumnDef="fechaemision">
            <th mat-header-cell *matHeaderCellDef>Fecha de Emision</th>
            <td mat-cell *matCellDef="let element"> {{element.tipofactura}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn">
                <mat-icon>picture_as_pdf</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]"
                       showFirstLastButtonss
                        pageSize="5"
                       aria-label="">
        </mat-paginator>
      </div>

      <div class="generate-bill">
        <button mat-raised-button style="margin-right: 10px; color: black;"  (click)="this.router.navigate(['/facturacion'])">Registrar Factura</button>

        <button  mat-raised-button  style="margin-right: 10px" (click)="abrirReporte()">Generar Reporte</button>
      </div>
</section>
