<section class="factura-container">
    <h1>Facturas</h1>
    <hr>

    <div class="table-container">
      <div class="toggle-container">
        <mat-button-toggle-group [(value)]="selectedMode" class="toggle-button" (change)="cambiarModo($event)" name="fontStyle" aria-label="Font Style">
          <mat-button-toggle value="proveedores">Proveedores</mat-button-toggle>
          <mat-button-toggle value="clientes">Clientes</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      
        <table mat-table [dataSource]="currentDataSource">
          <!-- Position Column -->
          <ng-container matColumnDef="codigofactura">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigofactura}} </td>
          </ng-container>

          <ng-container matColumnDef="numerofactura">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.numerofactura}} </td>
          </ng-container>
      
          Name Column -->
          <ng-container matColumnDef="nombreproveedores">
            <th mat-header-cell *matHeaderCellDef>Proveedor</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreproveedores}}</td>
          </ng-container>

          <ng-container matColumnDef="nombreclientes">
            <th mat-header-cell *matHeaderCellDef>Clientes</th>
            <td mat-cell *matCellDef="let element"> {{element.nombreclientes}} </td>
          </ng-container>

          <ng-container matColumnDef="tipofactura">
            <th mat-header-cell *matHeaderCellDef> Tipo de factura </th>
            <td mat-cell *matCellDef="let element"> {{element.tipofactura}} </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5]"
                       showFirstLastButtons
                        pageSize="5"
                       aria-label="">
        </mat-paginator>
      </div>

      <div class="generate-bill">
        <button  mat-raised-button style="margin-right: 10px;"><a href="/facturas/generar-factura">Registrar Factura</a></button>
        <button  mat-raised-button style="margin-right: 10px"><a href="/facturas/registrar-entrada">Registrar entrada</a></button>
        <button  mat-raised-button style="margin-right: 10px"><a href="/facturas/registrar-salida">Registrar salida</a></button>
        <button  mat-raised-button  style="margin-right: 10px" (click)="printTable()">Generar Reporte</button>
      </div>
</section>
