<section class="sidenav-container">
  <div class="img"></div>
  
  <nav>
    <ul>
      <li>
        <a href="/">
          <mat-icon>home</mat-icon> 
          Inicio
        </a>
      </li>
      <li>
        <a href="/articulos">
          <mat-icon>dvr</mat-icon> 
          Artículos
        </a>
      </li>
      <li>
        <a href="/facturas">
          <mat-icon>note</mat-icon> 
          Factura
        </a>
      </li>
      <li>
        <a href="/almacen">
          <mat-icon>local_mall</mat-icon> 
          Almacén
        </a>
      </li>
      <li><a href="/proveedores">
        <mat-icon>supervised_user_circle</mat-icon> 
        Proveedores
      </a>
    </li>
      <li>
        <a href="">
          <mat-icon>supervised_user_circle</mat-icon> 
          Cientes
        </a>
      </li>
      <li>
        <div class="dropdown">
          <mat-icon>expand_more</mat-icon>
          <button class="dropdown-btn" (click)="toggleDropdown()">Cuentas</button>
        </div>
        <ul class="dropdown-menu" [class.show]="dropdownOpen">
          <li class="dropdown-list"><a href="">Cuentas por pagar</a></li>
          <li class="dropdown-list"><a href="">Cuentas por cobrar</a></li>
        </ul>
      </li>
      <li>
        <button mat-raised-button style="margin-top: 0.5rem; color: black;">
          <mat-icon>logout</mat-icon>
          Cerrar sesión
        </button>
      </li>
    </ul>
  </nav>
</section>
  
